body {
  background-image: url(./assets/background.png);
}

.container {
  margin: 10% 4.1665% 10%; 
  padding: 20px 20px 50px 20px;
}

#navbarNavAltMarkup {
  width: auto;
}

.img-fluid {
  margin: 20px 0;
}

.aboutimg {
  float: left;
  margin-right: 20px;
  height: 200px;
}

#stripe {
  height: 8px;
  background-color: #4baaa5;
}

h1 {
  color: #4baaa5;
}

footer {
position: fixed;
bottom: 0;
left: 0;
}

@media only screen and (max-width: 400px) {
  .container {
    max-width: 91.666%;
  }
}